<header>
    <h1>Ads - {{pageTitle}}</h1>

</header>
<div id="wrapper">
    <div class="col-md-2">
        <div ng-include="'templates/public/left-sidebar.html'" ng-if="!isLoggedIn"></div>
        <div ng-include="'templates/public/logged-in-sidebar.html'" ng-if="isLoggedIn"></div>
    </div>
    <div class="col-md-7">
        <div class="well public-ads">
            <div class="categories">
                <public-ads></public-ads>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">Categories</a></li>
            <li class=""><a href="#/" data-toggle="tab" aria-expanded="false">Towns</a></li>
         <button ng-click="templates/public/categories.html"></button>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="home">
                <categories></categories>
            </div>
            <div class="tab-pane fade" id="profile">
                <towns></towns>
            </div>

        </div>



    </div>

</div>
