<div ng-include="'templates/public/left-sidebar.html'" ng-if="!isLoggedIn"></div>
<div ng-include="'templates/public/logged-in-sidebar.html'" ng-if="isLoggedIn"></div>


<div id="wrapper">

    <div class="col-md-8">
        <div class="well public-ads">
            <div class="categories">

                <public-ads></public-ads>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <categories></categories>
    </div>

    <div class="col-md-2">
        <towns></towns>
    </div>

</div>


