.public-ads {
    overflow-wrap:break-word;
}
.towns {
    margin: 2px;
    width:150px;
    background-color:#808080;
    border:none;
}
.categoriesName {
    margin: 2px;
    width:150px;
    background-color:#808080;
    border:none;
}
.img-bordered {
    border: 1px solid #0094ff;
}