<div class="public-ads">
    <img src="images/loading.gif" ng-hide="ready" />
    <table class="table table-striped table-hover " ng-cloak>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Text</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
         <tr class="warning" ng-repeat="ad in adsData.ads"> <td>{{ad.id}}</td><td>{{ad.title}}</td> <td>{{ad.text}}</td> <td>{{ad.date}}</td> </tr>
        </tbody>
    </table>
</div>